
{% extends 'base.html' %}

{% block content %}
<h2>Цитати з тегом "{{ tag }}"</h2>

<div class="container">
    <div class="quotes">
        {% for quote in page_obj.object_list %}
        <div class="quote">
            <span class="text">{{ quote.text }}</span>
            <span class="author">{{ quote.author.name }}</span>
            <div class="tags">
                {% for tag in quote.tags_list %}
                <a href="{% url 'quotes:quotes_by_tag' tag %}" class="tag">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
        {% empty %}
        <p>No quotes available with this tag.</p>
        {% endfor %}
    </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
